<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>zhucheng</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SServlet</servlet-name>
    <servlet-class>Servlet.SServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SServlet</servlet-name>
    <url-pattern>/Servlet/SServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SUServlet</servlet-name>
    <servlet-class>Servlet.SUServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUServlet</servlet-name>
    <url-pattern>/Servlet/SUServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>Servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>NewsServlet</servlet-name>
     <url-pattern>/Servlet/NewsServlet</url-pattern>
  </servlet-mapping>
</web-app>